* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    }
    
    a {
    text-decoration: none;
    }
    
    a img {
    border: none;
    }
    
    button,
    a {
    cursor: pointer;
    color: inherit;
    }
    
    textarea {
    resize: none;
    }
    
    button,
    textarea,
    select {
    appearance: none !important;
    border-radius: 0;
    }
    
    /*End of CSS reset*/


#root {
    display: grid;
    width: 100%;
    max-width: 1920px;
    background-color: cornsilk;
}
    
input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-style: solid 1px;
    background-color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    font-family: "Arial, Helvetica", sans-serif;
    font-size: 13px;
    color: #2c3e50;
    border: #010c16 1px solid;
}

button {
    position: relative;
    width: 100px;
    height: 35px;
    background-color: #9fbaec;
    padding-bottom: 3px;
    margin-left: 45px;
    border: solid 1px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}